<div id="DeleteModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="true" @onclick="()=>OnConfirmationDelete(false)">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <p>Are you sure want to delete</p>
            </div>
            <div class="modal-footer">

                @if (isParanComponentProcess)
                {
                    <button class="btn btn-secondary" disabled>Close</button>
                    <button class="btn btn-danger" disabled>Processing......</button>
                } else
                {
                <button class="btn btn-secondary" data-bs-dismiss="modal" @onclick="()=>OnConfirmationDelete(false)">Close</button>
                <button class="btn btn-danger" @onclick="()=>OnConfirmationDelete(true)">Delete</button>
                }
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public bool isParanComponentProcess { get; set; }
    [Parameter]
    public EventCallback<bool> ConfirmDelete { get; set; }

    private async Task OnConfirmationDelete(bool value)
    {
        await ConfirmDelete.InvokeAsync(value);
    }
}