<AuthorizeView>
    <Authorized>
        Helloo, @context.User.Identity.Name
        <a href="Identity/Account/logout">Logout</a>

    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/login">login</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
