<div>
    <h3 class="text-primary pt-2">_AnotherChildComponent</h3>
    <input type="text" id="Name" @attributes="InputAttributes" value="" />
</div>
@code {
    [Parameter]
    public string? Placeholer { get; set; } = "intial text";

    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>();
}
