
<div class="row">

<h3 class="text-primary col-12 pl-4 pt-2">_GrandComponent</h3>
    <p>this is a message - @MessageFromGrand</p>
</div>

@code {
    [Parameter]
    public string MessageFromGrand { get; set; }
}
